#career.row{
  flex-direction: column;
  align-items: center;
}
#timeline::before{
  content: '';
  background: #e7eaec;
  width: 0.3%;
  height: 230%;
  position: absolute;
  left: 50%;
}
#timeline.row{
  justify-content: center;
}
.timeline-block{
  width: 90%;
  margin-top: 3%;
  color: #676a6c;
}
.timeline-block.row{
  justify-content: space-between;
  align-items: center;
}
.timeline-block.row:nth-child(2n){
  flex-direction: row-reverse;
}
.timeline-block.row:nth-child(2n) .timeline-designation{
  text-align: right;
}
.timeline-block.row div{
  padding: 2%;
  width: 40%;
}
.timeline-block.row div:first-child{
  background-color: white;
  border-radius: 1em;
}
.timeline-block.row p{
  color: #aeaeae;
}
.timeline-block .timeline-icon.row{
  height: 14%;
  width: 4%;
  padding: unset;
  border-radius: 50%;
  background-color: #999;
  text-align: center;
  z-index: 2;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
}
.timeline-block .timeline-icon::before i{
  content: "\f0fe";
}