/*#career.row{
  flex-direction: column;
  align-items: center;
}*/
/*#career{
  padding-top: 4%;
}*/
#timeline{
  width: 88%;
  margin: 0 auto;
  position: relative;
}
#timeline::before{
  content: '';
  background-color: var(--mild-dark-gray);
  width: 0.4em;
  height: 100%;
  left: unset;
  position: absolute;
}
#timeline::after{
  clear: both;
  content: "";
  display: block;
}
.timeline-block{
  margin-top: 3%;
  color: var(--charcoal-black);
}
/*.timeline-block.row{
  justify-content: space-between;
  align-items: center;
}*/

.timeline-block .timeline-content{
  position: relative;
  background-color: white;
  border-radius: 0.5em;
  padding: 2%;
  width: 80%;
  float: right;
  font-size: 0.9em;
}
.timeline-block .timeline-content p{
  color: var(--dark-gray);
}
.timeline-block .timeline-content .timeline-designation{
  position: unset;
  top: 2%;
  width: 100%;
  left: 126%;
}
.timeline-block .timeline-content .timeline-designation small{
  color: var(--primary-color);
  font-size: 85%;
  font-weight: 600;
}
.timeline-block:nth-child(2n) .timeline-content{
  float: right;
}
.timeline-block:nth-child(2n) .timeline-designation{
  left: auto;
  right: 126%;
  text-align: right;
}
/*.timeline-block.row div{
  background-color: white;
  border-radius: 1em;
}*/

/*.timeline-block .timeline-icon.row{
  height: 14%;
  width: 4%;
  padding: unset;
  border-radius: 50%;
  background-color: #999;
  text-align: center;
  z-index: 2;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
}
.timeline-block .timeline-icon::before i{
  content: "\f0fe";
}*/
.timeline-block:after{
  content: "";
  display: table;
  clear: both;
}
.timeline-block .timeline-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2rem;
  margin-left: -0.9em;
  height: 2rem;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-color-transperent);
  /* background-color: #999; */
  color: white;
  font-size: 100%;
  /*border: 0.1em solid #e7eaec;*/
  border: 0.1em solid #666;
}
#timeline .timeline-block{
  position: relative;
}

/* Laptop/Compuer Screen and Big Tablet Screen */
@media screen and (orientation: landscape) and (min-width: 1280px), screen and (orientation: portrait) and (min-width: 1024px){
  #timeline{
    padding: 0 5%;
    height: 100%;
  }
  #timeline::before{
    left: 50%;
    width: 0.3%;
  }
  #timeline .timeline-block{
    position: unset;
  }
  .timeline-block .timeline-content .timeline-designation{
    position: absolute;
  }
  .timeline-block .timeline-content{
    width: 40%;
    float: unset;
    font-size: unset;
  }
  .timeline-block .timeline-icon{
    left: 50%;
    width: 2.5rem;
    margin-left: -1.25em;
    height: 2.5rem;
  }
}
