#navbar.row {
  transition: 0.2s;
  background-color: #000;
  background-color: #c6c6c6;

  height: unset;
  align-items: unset;
  /*background-color: inherit;*/
  color: inherit;
  position: fixed;
  top: 0;
}
#navbar.row.sticky{
  background-color: #999;
  position: fixed;
  top: 0;
  z-index: 3;
}
#navbar.row a {
  color: white;
}
/*#navbar.row.shrink{
  height: 10%;
}*/
#navbar a {
  padding: 1em;
  text-align: unset;
  text-decoration-line: none;
}
#navbar.row a:hover {
  /*background-color: #999;*/
  color: #4a86e8;
}
#navbar.row.sticky a:hover {
  /*background-color: #c6c6c6;*/
  color: #4a86e8;
}
#fill-navbar{
  display: none;
}
#open-nav{
  display: unset;
}
#navbar > a:not(:first-child) {
  display: none;
}
#navbar.row.show {
  background-color: #f5f5f5;
}
#navbar.show a{
  color: #666;
  display: flex;
}
#about-div {
  display: flex;
  justify-content: space-between;
  /*width: fit-content;*/
}

/* Laptop/Compuer Screen and Big Tablet Screen */
@media screen and (orientation: landscape) and (min-width: 1280px), screen and (orientation: portrait) and (min-width: 1024px) {
  #navbar.row {
    height: 10%;
    /*height: 5.8em;*/
    align-items: center;
    position: absolute;
    top: unset;
  }
  #navbar a {
    text-align: center;
  }
  #navbar > a:not(:first-child) {
    display: unset;
  }
  #fill-navbar{
    /*display: none;*/
    height: 10%;
    width: 100%;
    content: "";
  }
  #open-nav{
    display: none;
  }
}