#skills .skills.row{
  align-items: center;
  margin-bottom: 0;
  /*height: 25%;*/
}
#skills .skills.row .ribbon{
  width: 90%;
  /*height: 40%;*/
  /*border: solid 3px black;*/
  border-radius: 2%;
  background-color: white;
  /*padding: 2%;*/
  position: relative;
  margin-bottom: 5%;
}
#skills .ribbon .heading {
  position: absolute;
  background-color: var(--primary-color-transperent);
  /* background-color: #e6e6e6; */
  margin-top: 0;
  width: 90%;
  left: -0.4em;
  top: 0.5em;
  text-align: center;
  color: white;
  /* color: #676a6c; */
}
#skills .ribbon .heading::before{
  content: "";
  position: absolute;
  top: 1.16em;
  border-left: solid 0.2em transparent;
  border-right: solid .2em var(--charcoal-black);
  border-top: solid .25em var(--charcoal-black);
  border-bottom: solid 0.2em transparent;
  display: block;
}
#skills .ribbon .heading::after{
  content: "";
  position: absolute;
  right: 0;
  border-left: solid 0.6em transparent;
  border-right: solid 0.6em white;
  border-top: solid 0.6em transparent;
  border-bottom: solid 0.6em transparent;
}

#skills .skills.row .ribbon .content.row{
  box-sizing: border-box;
  justify-content: space-evenly;
  padding-top: 15%;
  color: var(--charcoal-black);
}

#skills .skills.row .ribbon .content .skill{
  border: solid 1px var(--charcoal-black);
  border-radius: 30px;
  padding: 2% 6%;
  margin: 1%;
  text-align: center;
  margin-bottom: 2%;
  min-width: 60%;
}

@media screen and (orientation: landscape) and (min-width: 1280px), screen and (orientation: portrait) and (min-width: 1024px){
  #skills .skills.row{
    justify-content: space-around;
    margin-bottom: 5%;
  }
  #skills .skills.row .ribbon{
    width: 40%;
    margin-bottom: unset;
  }
  #skills .skills.row .ribbon .content.row{
    padding: 3em 5% 5%;
  }
  #skills .skills.row .ribbon .content .skill{
    margin-bottom: unset;
    min-width: unset;
  }
}
