.bg-img {
  /*border: 1px solid black;*/
  /* The image used */
  background-image: url("./../images/intro4.jpg");
  /* Full height */
  height: 100%;
  /*height: 52.3em;*/
  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  /*text color white*/
  color: white;
  width: auto;
}
.colour-on.bg-img{
  background-image: url("./../images/intro5.jpg") !important;
}
.intro.row{
  flex-direction: column;
  width: inherit;
  border: 0.3em solid white;
  align-items: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  background-color: var(--secondary-color-transperent);
  text-align: center;
}
#name {
  font-size: 2em;
  margin: 0.8em 0;
}
#name .name{
  color: var(--primary-color);
}
#prof {
  font-size: 1.3em;
  margin-bottom: 0.8em;
}
#resume{
  font-size: 1.1em;
  margin-bottom: 0.8em;
  transition: 0.5s;
  /*background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);*/
  background-size: 200% auto;
  /*background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);*/
  color: white;
  background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8 51%, #757F9A 100%);
  /*background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);*/

}
#resume:hover {
  color: black;
  background-position: right center; /* change the direction of the change here */
}

/* Laptop/Compuer Screen and Big Tablet Screen */
@media screen and (orientation: landscape) and (min-width: 1280px), screen and (orientation: portrait) and (min-width: 1024px) {
  .bg-img {
    height: 90%;
    background-position: center;
  }
  .intro.row {
    width: 40%;
  }
}
